{
  "presets": [
    "@nrwl/next/babel",
    // Need to to use `css` property for tailwind
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "@emotion",
    "macros",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ]
}
