@import '../../../.storybook/grid.scss';

.Builder-node {
  // position: relative;
  // z-index: 0;
  &:hover {
    &:before {
      content: '';
      width: calc(40px + 8px);
      height: 20px;
      background-color: rgb(41, 205, 255);
      // border: 2px solid rgb(41, 205, 255);
      right: -4px;
      top: -4px;
      position: absolute;
      display: block;
      z-index: 1;
      cursor: default;
    }
    &:after {
      content: '';
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      // background-color: #529600;
      left: -4px;
      top: -4px;
      position: relative;
      display: block;
      z-index: -1;
      border: 2px solid rgb(41, 205, 255);
    }
  }
}
