.kubernetes/helm/lib/resources/cert-manager/* filter=git-crypt diff=git-crypt
.kubernetes/helm/README.md filter=git-crypt diff=git-crypt
.kubernetes/kustomize/overlays/*/secret.yaml filter=git-crypt diff=git-crypt
