mykey*
mykey.pub
lambdas/node_modules
lambdas.zip
.terraform
terraform.tfstate.backup
terraform.tfstate
get-pip.py
.terraform/plugins/*
.iam.tf.swp
.env
terraform.tfvars
.terraform.lock.hcl
.terraform.tfstate.lock.info