@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Nunito, system-ui, sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Montserrat', sans-serif;
    @apply !font-black;
  }

  h1 {
    /* @apply !text-sm; */
  }

  h2 {
    /* @apply text-xl; */
  }

  h3 {
    /* @apply text-xl; */
  }

  h4 {
    /* @apply text-xl; */
  }

  h5 {
    /* @apply text-xl; */
  }

  h6 {
    /* @apply text-sm; */
  }
}

@layer components {
  .btn-primary {
    /*@apply !bg-purple-500 text-white;*/
    /* &:hover {
      @apply text-white !bg-purple-400;
    } */

    /* &.inverse {
      @apply border !border-purple-500 hover: text-purple-500 text-purple-500 hover: !bg-purple-100
    } */
  }
}

/*.hover-text {*/
/*  @apply hover:text-purple-500;*/
/*}*/

/*.btn {*/
/*  @apply px-3 py-1 rounded flex items-center;*/
/*}*/
/*.btn-primary {*/
/*  @apply !bg-purple-500 text-white whitespace-nowrap;*/
/*   &:hover {*/
/*    @apply text-white !bg-purple-400;*/
/*  }*/
/*}*/

a {
  @apply !transition-none;
}

nav.nav {
  @apply h-10 flex items-center bg-white;
}

menu.menu {
  @apply bg-white;

  ul {
    @apply flex;

    li {
      @apply flex mx-2 items-center;
    }
  }

  &.menu-horizontal {
    ul {
      @apply h-full flex-row justify-end;
    }
  }

  &.menu-vertical {
    ul {
      @apply flex-col;
      li {
        @apply py-2 text-lg;
      }
    }
  }
}

@layer utilities {
  /* .filter-none {
    filter: none;
  }

  .filter-grayscale {
    filter: grayscale(100%);
  } */
}
