{
  "presets": [
    [
      "@nrwl/gatsby/babel",
      {
        "reactRuntime": "automatic",
        "reactImportSource": "@emotion/react"
      }
    ]
  ],
  "plugins": [
    // [
    //   "prismjs",
    //   {
    //     "languages": ["typescript", "css", "markup"],
    //     "plugins": ["line-numbers"],
    //     "theme": "twilight",
    //     "css": true
    //   }
    // ],
    [
      "xwind/babel",
      {
        "config": "../../tailwind.config.js"
      }
    ],
    [
      "import",
      {
        "libraryName": "antd",
        "style": false
      }
    ],
    "@emotion/babel-plugin"
  ]
}
