{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic",
        "useBuiltIns": "usage"
      }
    ],
    [
      "@babel/preset-typescript",
      {
        // For mobx-keystone
        "allowDeclareFields": true
      }
    ]
  ],
  "plugins": [
    "@emotion",
    "macros",
    [
      // For mobx-keystone
      "@babel/plugin-proposal-decorators",
      {
        "version": "legacy"
      }
    ],
    [
      // For mobx-keystone
      "@babel/plugin-proposal-class-properties"
    ]
  ]
}
